.header-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 1rem;
  display: flex;
  background-color: #FAF0E6;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: black 2px solid;
  align-items: center;
}

.friend-add-container {
  padding: 0.5rem 1rem;
  display: grid;
}

.header-title-text {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFD800;
  font-size:xx-large;
  font-weight: bolder;
  text-align: center;
  background-color: black;
  padding: 1rem;
  margin-top: 0;
  border: 2px #222222 solid;
  border-radius: .5rem;
}

.menu-buttons-container {
  right: 3rem;
}

.menu-buttons {
  background-color: #FFD800;
  margin: .5rem;
  border: 2px black solid;
  border-radius: .5rem;
  color: black;
  padding: .5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: vertical;
}

.bigger-input-container {
  justify-content: center;
  display: grid;
}

.input {
  display: block;
  padding: 1rem;
  height: 10rem;
  overflow: hidden;
  border: 2px black solid;
  border-radius: .5rem;
  text-align: center;
  justify-content: center;
  text-wrap: wrap;
  
}

.input-comment {
  display: block;
  margin-top:1rem;
  padding: 1rem;
  height: 1rem;
  overflow: hidden;
  border: 2px black solid;
  border-radius: .5rem;
  text-align: center;
  justify-content: center;
  text-wrap: wrap;

}

.submit-button {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FFD800;
  border: none;
  margin: 1rem;
  padding: 1rem;
  border: 2px black solid;
  border-radius: .5rem;

}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.register-card-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.create-user-container {
  display: grid; 
  margin: .5rem;
  background-color: #FFD800;
  min-width: 20rem;
  min-height: 5rem;
  max-width: 20rem;
  border: 1px #FFD800 solid;
  border-radius: .5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2rem;
}

.create-user-button {
  background-color: white;
  border: 5px solid #222222;
  padding: 1rem;
  border-radius: .5rem;
}

.create-user-input {
  margin-bottom: 1rem;
}

.create-user-text {
  color: #222222;
}

.return-user-container {
  display: grid; 
  background-color: #FFD800;
  min-width: 20rem;
  min-height: 5rem;
  border: 1px #FFD800 solid;
  border-radius: .5rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: .5rem;
}

.return-user-input {
  margin: 1rem
}

.return-user-submit {
  max-width: 6rem;
  margin: auto;
}

.emphasized-register-text {
  font-size: 2.5rem;
  color: red;
  text-decoration-line: underline;
}

.private-passkey {
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
}

.main-container {
  max-width: 100vw;
}

.score-container {
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  background-color: #FAF0E6;
  padding: 1rem;
  border-bottom: 2px black solid;
  border-top: 2px black solid;
}

.bigger-comment-container {
  display: flex;
  max-width: 100vw;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.comment-container {
  flex: 0 0 auto;
  max-width: fit-content;
  background-color: white;
  white-space: nowrap;
  padding: 1rem;
  margin: 1rem;
  border: black 2px solid;
  border-radius: .5rem;
}

.comment-text {
  font-family:'Courier New', Courier, monospace;
  color: black;
}

.score-card {
  background-color: white ;
  margin-right: 2.5rem;
  max-width: fit-content;
  min-width: 10rem;
  border: #FFD800 3px solid;
  border-radius: .5rem;
}

h2 {
  margin:0;
}

p {
  margin:0;
}

.score-card-name {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: black;
  width: fit-content;
  padding: .5rem;
  margin-top: .5rem;
  margin-left: .5rem;
  border-radius: .5rem;
}

.score-card-text {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
}

.game-title {
  color: white;
  text-shadow: 3px 3px 1px black;
  margin-left: 3rem;
}

.game-row-container {
  margin-top: 2rem;
  text-align: center;
  max-width: 100vw;
  overflow-x: auto;
}
