.header-container {
  max-width: 100vw;
  display: grid;
  justify-content: center; 
  align-items: center;
  padding: 1rem;
  display: flex;
  background-color: #FAF0E6;
  margin-bottom: 1rem;
  border-bottom: black 2px solid;
  align-items: center;
  z-index: 10000;
}

.header-wrapper {
  z-index: 1000000;
}

.friend-add-container {
  justify-content: center;
  display: grid;
  z-index: 1000;
}

.header-title-text {
  font-size: x-large;
  color: #FFD800;
  font-weight: bolder;
  text-align: center;
  background-color: black;
  padding: 1rem;
  margin-top: 0;
  border: 2px #222222 solid;
  border-radius: .5rem;
}

.menu-buttons-container {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.main-menu-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2rem;
  border: 2px black solid;
  border-radius: .5rem;
  position: absolute;
  width: fit-content;
  height: fit-content;
  transform: translateY(-200%); /* Initially hides the menu content off-screen */
  overflow-y: auto; /* Enables scrolling if content overflows */
  transition: transform 0.3s ease-in-out; /* Smooths menu appearance */
  z-index: 100; /* Places the menu above other elements */
  background-color: #FAF0E6;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.main-menu-container.show {
  transform: translateY(0); /* Shows the menu content by translating it down */
}

.add-friend-input {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  height: 2rem;
  border: 2px black solid;
  border-radius: .5rem;
  margin: .5rem;
  margin-top: 1rem;
}
.menu-buttons-copy {
  background-color: #FFD800;
  width: 100%;
  border: 2px black solid;
  border-radius: .5rem;
  color: black;
  padding: 1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.menu-buttons-add {
  background-color: #FFD800;
  margin: .5rem;
  min-width: fit-content;
  border: 2px black solid;
  border-radius: .5rem;
  color: black;
  padding: .5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.menu-buttons {
  background-color: #FFD800;
  margin: .5rem;
  min-width: fit-content;
  border: 2px black solid;
  border-radius: .5rem;
  color: black;
  padding: .5rem;
  font-weight:900;
  font-family:sans-serif;
}

.menu-negative {
  overflow: hidden;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: vertical;
}

.bigger-input-container {
  overflow-x:hidden;
  overflow-y:hidden;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #3b3b3b;
  border-top: 3px black solid;
  border-left: 3px black solid;
  border-top-left-radius: .5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  justify-content: center;
  display: grid;
  transform: translate(50%,85%);
}

.top-input-container {
  text-align: left;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  background-color: #FFD800;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  border: #3b3b3b 1px solid;
  border-top-left-radius: .5rem;
}

.bigger-input-container.show {
  transform: translateY(0);
}

.input {
  display: block;
  padding: 1rem;
  height: 10rem;
  overflow: hidden;
  border: 2px black solid;
  border-radius: .5rem;
  text-align: center;
  justify-content: center;
  text-wrap: wrap;
  
}

.input-comment {
  display: block;
  margin-top:1rem;
  padding: 1rem;
  height: 1rem;
  overflow: hidden;
  border: 2px black solid;
  border-radius: .5rem;
  text-align: center;
  justify-content: center;
  text-wrap: wrap;

}

.submit-button {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FFD800;
  border: none;
  margin: 1rem;
  padding: 1rem;
  border: 2px black solid;
  border-radius: .5rem;

}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.register-card-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.create-user-container {
  display: grid; 
  margin: .5rem;
  background-color: #FAF0E6;
  min-width: 20rem;
  min-height: 5rem;
  max-width: 20rem;
  border: 2px black solid;
  border-radius: .5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2rem;
}

.create-user-button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #FFD800;
  border: 2px solid black;
  padding: 1rem;
  max-width: fit-content;
  border-radius: .5rem;
}

.create-user-input {
  font-family:'Courier New', Courier, monospace;
  display: block;
  padding: 1rem;
  overflow: hidden;
  border: 2px black solid;
  border-radius: .5rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
  
}

.create-user-text {
  color: black;
}

.return-user-container {
  display: grid; 
  background-color: #FFD800;
  min-width: 20rem;
  min-height: 5rem;
  border: 1px #FFD800 solid;
  border-radius: .5rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: .5rem;
}

.return-user-input {
  font-family:'Courier New', Courier, monospace;
  display: block;
  padding: 1rem;
  overflow: hidden;
  border: 2px black solid;
  border-radius: .5rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
  
}

.return-user-submit {
  max-width: 6rem;
  margin: auto;
}

.emphasized-register-text {
  font-size: 2.5rem;
  color: red;
  text-decoration-line: underline;
}

.private-passkey {
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
}

.app-wrapper {
  max-width: 100vw;
}

.main-container {
  max-width: 100vw;
  height: fit-content;
}

.score-container {
  background-color: #FAF0E6;
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  padding: 1rem;
  border-bottom: 2px black solid;
  border-top: 2px black solid;
}

.bigger-comment-container {
  display: flex;
  max-width: 100vw;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.comment-container {
  flex: 0 0 auto;
  max-width: fit-content;
  background-color: white;
  white-space: nowrap;
  padding: 1rem;
  margin: 1rem;
  border: black 2px solid;
  border-radius: .5rem;
}

.comment-text {
  font-family:'Courier New', Courier, monospace;
  color: black;
}

.score-card {
  background-color: white ;
  margin-right: 2.5rem;
  max-width: fit-content;
  min-width: 10rem;
  border: #FFD800 3px solid;
  border-radius: .5rem;
}

h2 {
  margin:0;
}

p {
  margin:0;
}

.score-card-name {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: black;
  width: fit-content;
  padding: .5rem;
  margin-top: .5rem;
  margin-left: .5rem;
  border-radius: .5rem;
}

.score-card-text {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
}

.game-title {
  color: white;
  text-shadow: 3px 3px 1px black;
  margin-left: 3rem;
}

.game-row-container {
  margin-top: 2rem;
  text-align: center;
  max-width: 100vw;
  overflow-x: auto;
}

.buy-me-a-coffee {
  text-decoration-line: none;
  width: 100%;
  background-color: #FFD800;
  border: 2px black solid;
  border-radius: .5rem;
  color: black;
  padding: 1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.coffee-container {
  display: flex;
  justify-content: center;
}
