.header-container {
  
  display: flex;
  background-color: #FFD800;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border: 1px #FFD800 solid;
  border-radius: .25rem;
}

.header-title-text {
  color: #FFD800;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  background-color: #222222;
  padding: .75rem;
  margin-top: 0;
  border: 2px #222222 solid;
  border-radius: .5rem;
}

.menu-buttons-container {
  position: absolute;
  right: 3rem;
}

.menu-buttons {
  background-color: #222222;
  color: white;
  padding: .5rem;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: vertical;
}

.input {
  display: block;
  min-height: 12vh;
  border: 1px #222222 solid;
  border-radius: .5rem;
  text-align: center;
  justify-content: center;
  text-wrap: wrap;
  
}

.submit-button {
  background-color: #FFD800;
  border: none;
  margin: 1rem;
  padding: 1rem;
  border: 1px #FFD800 solid;
  border-radius: .5rem;

}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.copy-link-button {

}